<div mat-dialog-title class="dialog-title d-flex justify-content-between mt-3">

    <h2>{{ data.title }}</h2>
    <button mat-mini-fab aria-label="Close dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    {{ data.text }}
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button *ngIf="data.cancel" mat-raised-button cdkFocusInitial color="care" [mat-dialog-close]="'cancel'" class="fs-3 h-1">{{ data.cancel }}</button>
    <button *ngIf="data.no" mat-raised-button mat-dialog-close color="warn" [mat-dialog-close]="'no'" class="fs-3 h-1">{{ data.no }}</button>
    <button *ngIf="data.yes" mat-raised-button cdkFocusInitial color="primary" [mat-dialog-close]="'yes'" class="fs-3 h-1">{{ data.yes }}</button>
</mat-dialog-actions>
