.mat-column-password {
    max-width: 250px;
    min-width: 60px;
}
.mat-column-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
    font-weight: bold;
}
